*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     transition: 1s all;
}

.container{
    position: relative;
    height: 100vh;
    margin: 10vh auto;
    display: flex;
    width: 80vw;
    overflow: hidden;
    gap: 5%;
    .slide{
        height: 80%;

        width: 30%;
        flex-shrink: 0;
        border: 2px solid orange;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
}
.dotes{
    position: absolute;
    bottom: 24px;
    left: 50%;
    display: flex;
    gap: 24px;
    transform: translateX(-50%);
    
}
.dote{
    display: block;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 2px solid orange;
}
